<h2><%= @track.title %> <small>(by: <%= @track.author %>)</small></h2>
<strong>
<% if current_user %>
  <%= @track.upvotes(:id).count %><%= erb :upvotes, locals: {:track => @track} %>
<% end %>
</strong>

<p></p>
  <a href='<%= @track.url %>'><%= @track.url %></a>
<p>
</p>
<% if !@track.user.nil? %>
    <small>Posted by: <%= @track.user.email %></small>
<% end %>

<hr/>
<a href="/tracks"> Back to the Music Wall </a>
<p></p>
<% if current_user && current_user.reviews.where(track_id: @track.id).empty? %>
  <%= erb :reviews, locals: {:track => @track} %>
<% elsif !current_user %>
  <strong>You must Register or Log In to review this track</strong>
<% end %>

<% @reviews = @track.reviews %>
<% if !@reviews.empty? %>
  <% @reviews.each do |review|%>
    <div class= 'review'>
      Rating: <%= review.rating %><br> <%= review.content %> 

      <% if !review.user.nil? %>
          <small>Review by: <%= review.user.email %></small>
        <% end %>
      <% if review.user_id == current_user.id %>
        <%= erb :delete, locals: {:review => review} %>
      <% end %>
    </div>
  <% end %>
<% end %>
